/* * {
  border: 1px solid red;
} */
.bground {
  height: 100vh;
  width: 100vw;
  background-image: url(../images/background.jpg);
  background-size: cover;
}

.myStyle {
  color: white;
  background-color: DodgerBlue;
  font-family: Arial;
  font-weight: bolder;
  opacity: 0.7;
  display: flex;
  justify-content: center;
}

/* .myStyleHome {
  color: white;
  background-color: DodgerBlue;
  font-family: Arial;
  font-weight: bolder;
  opacity: 0.7;
  display: flex;
  flex-flow: column;
  margin: auto;
  padding-bottom: 10px;
} */

/* .myStyleList {
  color: white;
  background-color: DodgerBlue;
  font-family: Arial;
  font-weight: bolder;
  opacity: 0.7;
  display: flex;
  padding-top: 10%;
} */

.title {
  width: 100%;
  margin-left: 5%;
}

.align input{
  display: flex;
  align-self: right;
  margin-right: 2%;
}

.submit {
  width: min-content;
  align-self: center;
  margin-top: 10px;
}

.loginForm {
  display: flex;
  flex-flow: column;
  margin: auto;
  padding-bottom: 10px;
}

.links {
  margin: 10px;
  color: white;
}

.createAccount {
  margin: auto;
  padding-top: 20%;
  font-size: xx-large;
}

.links:hover {
  background-color: yellow;
  color: DodgerBlue;
  padding: 2%;
  border-radius: 5px;
}

.optionsLinks {
  color: inherit;
  text-decoration: inherit;
}

.optionsList {
  display: flex;
  flex-flow: column;
  color: white;
  background-color: DodgerBlue;
  font-family: Arial;
  padding: 2%;
}

.optionsList li {
  padding: 1%;
}

.optionsList li:hover {
  background-color: yellow;
  color: DodgerBlue;
}

.footer {
  width: 100%;
  padding: 3%;
  position: fixed;
  bottom: 0;
}

/* .detalhesContainer {
  display: flex;
  flex-flow: row;
} */